<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- bean definitions here -->
	
	<bean class="com.takeo.pojo.Employee" id="e">
	
	<property name="eno"> <value>100</value></property>
	
	<property name="ename"> <value>Shiva</value></property>
	
	<property name="eadd"> <value> India</value></property>
	
	</bean>
	
	<!-- But if we have tt autowire by name then Id name has to be same from Employee class like emp -->
	
	<bean class="com.takeo.pojo.College" id="col" autowire="byType">
	
	<property name="name"> <value> DAV</value></property>
	
	<!-- commenting below code for Auto Wire -->
	<!--  <property name="emp"><ref bean="e"/></property>
	-->
	
	
	
	
	
	
	</bean>
	
	
	
	
	
	</beans>
